/* Default tab style */

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 10px;
	text-align: center;
	-webkit-flex: auto;
	-moz-flex: auto;
	-ms-flex: auto;
	flex: auto;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: inherit;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 40px 0 0;
}

.content-wrap section.content-current {
	display: block;
}



/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}

/* Individual tab styles */
/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
	border-radius: 30px;
}

.tabs-style-linemove nav li:last-child::before {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 80%;
    background: transparent;
    content: '';
}


.tabs-style-linemove nav a {
    padding: 10px 0;
    font-size: 25px;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
	text-decoration: none;
}

.tabs-style-linemove nav li.tab-current a {
	color: #ffffff;
	background-color: var(--sec-color);
	-webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    border-radius: 30px;
    box-shadow: 0px 1px 4px #9c9c9c;
}

.tabs-style-linemove nav li a:hover {
	color: #ffffff;
	background-color: var(--hover-color);
	-webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    border-radius: 30px;
    box-shadow: 0px 1px 4px #9c9c9c;
}

.tabs-style-linemove nav li.tab-current a:hover {
	color: #ffffff;
	background-color: var(--sec-color);
	-webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
    border-radius: 30px;
    box-shadow: 0px 1px 4px #9c9c9c;
}


.tabs-style-linemove nav a span {
	font-weight: 500;
}
nav li.tab-current a{
	color: #ffffff;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}